# sudo apt install gcc, for psycopg2
django==3.2.14
celery
djangorestframework
twilio
requests
stripe
whitenoise
Pillow
django-crispy-forms
django-rosetta
django-axes
django-mathfilters
django-countries
crispy-bootstrap5
django-htmx
django-simple-captcha
django-admin-interface
django-cors-headers
psycopg2-binary
django-crum
phonenumbers
gunicorn
djangorestframework-simplejwt
pycountry
# psycopg2
