# sudo apt install gcc, for psycopg2
Django==3.2.15
celery
djangorestframework
twilio
requests
whitenoise
Pillow
django-countries
django-admin-interface
django-cors-headers
psycopg2-binary
phonenumbers
gunicorn
djangorestframework-simplejwt
pycountry
# psycopg2
