Django==3.2.13
celery
djangorestframework
twilio
requests
stripe
whitenoise
django-crispy-forms
django-rosetta
django-axes
django-mathfilters
django-countries
crispy-bootstrap5
django-htmx
Pillow
django-simple-captcha
django-admin-interface
django-cors-headers
psycopg2-binary
django-crum
phonenumbers
gunicorn
psycopg2-binary