{% extends "accounts/base.html" %}
{% load i18n %}
{% block content %}
    <br>
    <div class="container-fluid">
        <div class="card text-white tamon-bg-dark">
            <div class="card-body">
                <h4 class="font-weight-normal">{% trans "Deposit Money From Your Account" %}</h4>
                <hr>
                <h5 class="font-weight-Bold">
                    {% blocktrans %}
                        In order to transfer money, please log into your
                        own bank account and use the following informaiton to transfer money. 
                        After that, when your transaction gets processed by us 
                        (<span style="color: #f8b119;">within 1 bussiness day</span>), it will show 
                        the new ballance on your wallet
                    {% endblocktrans %}
                </h4> <br>
                <p class="text-capitalize">
                    {% blocktrans with username=user.username pk=user.account.pk %}
                    name : mohsen ameli <br>
                    account number : 128739127312 <br>
                    purpose(optional) : {{ username }}-{{ pk }}
                    {% endblocktrans %}
                </p>
                <a class="btn btn-outline-warning"
                    href="{% url 'accounts:home' user.account.pk %}">{% trans "Wallet" %}</a>
        </div>
    </div>
{% endblock %}