{% load i18n %}
{% load static  %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS V:5 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- My own css -->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'accounts/favicon.ico' %}">

    <!-- Google fonts CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!-- animate.css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Font Awesome LOCAL -->
    <link rel="stylesheet" href="{% static 'accounts/fontawesome-6.0.0/css/all.css' %}">

    <title>Home Page</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-sm">
            {% if user.account %}
                <a class="navbar-brand" href="{% url 'accounts:home' pk=user.account.pk %}">
                    <img src="{% static 'accounts/images/zarathustrust.png' %}" width="60" height="26" class="d-inline-block align-text-top">
                    <span style="font-size: x-large;">Z</span>arathus<span style="font-size: x-large;">T</span>rust
                </a>
            {% else %}
                <a class="navbar-brand" href="{% url 'accounts:home-new' %}">
                    <img src="{% static 'accounts/images/zarathustrust.png' %}" width="60" height="26" class="d-inline-block align-text-top">
                    Zarathus Trust
                </a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'accounts:home' user.account.pk %}">
                                <i class="fas fa-home"></i> {% trans "Home" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'accounts:referral-code' user.account.pk %}">
                                <i class="fas fa-user-check"></i> {% trans "Invite A Friend" %}
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:about-page' %}">
                            <i class="bi-info-circle"></i> {% trans "about" %}
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            <i class="fas fa-globe"></i> {% trans "Language" %} <span
                                class="flag-icon flag-icon-{{ LANGUAGE_CODE }}"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <form class="form-inline" action="{% url 'set_language' %}" method="post"> {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />
                                {% for language in languages %}
                                    <li>
                                        <button class="dropdown-item {% if language.code == LANGUAGE_CODE %}selected{% endif %}" 
                                            type="submit" name="language" value="{{ language.code }}">
                                            <span class="flag-icon flag-icon-{{ language.code }}"></span> {{ language.name_local }}
                                        </button>
                                    </li>
                                {% endfor %}
                            </form>
                        </ul> 
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'logout' %}">{% trans "Log Out" %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'login-view' %}">{% trans "Log In" %}</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'register' %}">{% trans "Sign Up" %}</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    
    <!-- MESSAGE ALERTS -->
    {% if messages %}
        <div class="container mt-3">
            {% for msg in messages|slice:":1" %}
                {% if msg.tags == 'warning' %}
                    <div class="alert alert-danger text-center msg-alert">
                        {% blocktrans %}
                        {{ msg }}
                        {% endblocktrans %}
                    </div>
                {% else %}
                    <div class="alert alert-{{ msg.tags }} text-center msg-alert">
                        {% blocktrans %}
                        {{ msg }}
                        {% endblocktrans %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    <!-- MAIN CONTENT -->
    <div class="container my-3">
        {% block content %}{% endblock %}
    </div>
    <br>
    
    <!-- Bootstrap V:5 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- Font Awesome CDN -->
    <!-- <script src="https://kit.fontawesome.com/5f5fa5bcd8.js" crossorigin="anonymous"></script> -->

    <!-- Sweet Alert CDN -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Enable Tooltips everywhere -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>

</html>