{% load i18n %}
{% load static  %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS V:5 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <!-- My own css -->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'accounts/favicon.ico' %}">

    <!-- Google fonts CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!-- animate.css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Bootstrap Cookie CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">

    <title>{% trans "ZarathusTrust" %}</title>
</head>

<body>
    <!-- NAVBAR -->
    {% block nav %}{% include 'accounts/nav.html' %}{% endblock %}

    <!-- landing page -->
    {% block landing_page %}{% endblock %}

    <!-- MAIN CONTENT -->
    <div class="container" style="margin-top: 5rem;">
        <!-- MESSAGE ALERTS -->
        {% if messages %}
            <div class="container my-3">
                {% for msg in messages|slice:":1" %}
                    {% if msg.tags == 'warning' %}
                        <div class="alert alert-warning text-center msg-alert alert-dismissible fade show" role="alert">
                            {% blocktrans %}
                            {{ msg }}
                            {% endblocktrans %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% else %}
                        <div class="alert alert-{{ msg.tags }} text-center msg-alert alert-dismissible fade show" role="alert">
                            {% blocktrans %}
                            {{ msg }}
                            {% endblocktrans %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <!-- under dev -->
    <div class="py-3" style="font-size: 11pt;">{% trans "Still Under Development" %}</div>
    
    <!-- Bootstrap V:5 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/5f5fa5bcd8.js" crossorigin="anonymous"></script>

    <!-- Sweet Alert CDN -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- HTMX -->
    <!-- <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script> -->

    <!-- Enable Tooltips everywhere -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <!-- Cookie banner -->
    <div class="alert text-center cookiealert" role="alert">
        <b>{% trans "Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website." %}"
        <a href="{% url 'users:cookie-policy' %}" target="_blank">{% trans "Learn more" %}</a>

        <button type="button" class="neon-button acceptcookies">{% trans "I agree" %}</button>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>

    <!-- <script>
        window.addEventListener("cookieAlertAccept", function() {
            alert("cookies accepted")
        })
    </script> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    
    {% if debug != True %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FRK5F8TZKR"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
        
            gtag('config', 'G-FRK5F8TZKR');
        </script>
    {% endif %}
</body>

</html>