{% extends "accounts/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<!-- spinner -->
<div id="spinnner"></div>

<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <h3 class="fw-normal text-center">{% trans "Payment Page" %}</h3>
        <hr class="zarathus-hr">
        <p>
            {% if currency == 'EUR' %}
                {% blocktrans with balance=balance %}
                    Current Balance : €{{ balance }}
                {% endblocktrans %}
            {% else %}
                {% blocktrans with balance=balance %}
                    Current Balance : ${{ balance }}
                {% endblocktrans %}
            {% endif %}
        </p>
        <p style="color: rgb(255, 120, 120);">
            {% if currency == 'EUR' %}
                {% blocktrans with price=price %}
                    Total : €<element id="price">{{ price }}</element>
                {% endblocktrans %}
            {% else %}
                {% blocktrans with price=price %}
                    Total : $<element id="price">{{ price }}</element>
                {% endblocktrans %}
            {% endif %}
        </p>
        <hr class="zarathus-hr" style="width: 10rem; position: absolute; margin-top: .5rem;"> <br>
        <p>
            {% if currency == 'EUR' %}
                {% blocktrans with remaining=remaining %}
                    Remaining : €{{ remaining }}
                {% endblocktrans %}
            {% else %}
                {% blocktrans with remaining=remaining %}
                    Remaining : ${{ remaining }}
                {% endblocktrans %}
            {% endif %}
        </p>
        <hr class="zarathus-hr">
        {% if user.account %}
        <form method="POST" id="form-swal">
            {% csrf_token %}
            <button class="neon-button my-2" type="submit" id="Action">{% trans "Place Order" %}</button>
        </form>
        {% endif %}
    </div>
</div>

{{ price|json_script:"price" }}

<script src="{% static 'accounts/js/checkout.js' %}"></script>
{% endblock content %}