{% extends "accounts/base.html" %}
{% load mathfilters %}
{% load i18n %}
{% block content %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <h3 class="fw-normal text-center">{% trans "Transaction Details" %}</h3>
        <hr class="zarathus-hr">
        <p style="font-size: large;">
            {% if transaction.method == "Transfer" %}
                <!-- incoming transferance -->
                {% if incoming == 1 %}
                    {% blocktrans with price=transaction.price transactor=transactor %}
                        {{ currency_symbol }}{{ price }} has been transfered to you, by {{ transactor }}
                    {% endblocktrans %}
                <!-- outgoing transferance -->
                {% else %}
                    {% blocktrans with price=transaction.price transactor=transactor %}
                        You have transfered {{ currency_symbol }}{{ price }} to {{ transactor }}
                    {% endblocktrans %}
                {% endif %}

            {% elif transaction.method == "Deposit" %}
                {% blocktrans with price=transaction.price person=transaction.person.created_by.username wallet=transaction.wallet.main_account.created_by.username %}
                    Deposit to {{ person }}{{ wallet }}, for the amount {{ currency_symbol }}{{ price }}
                {% endblocktrans %}

            {% elif transaction.method == "Withdraw" %}
                {% blocktrans with price=transaction.price person=transaction.person.created_by.username wallet=transaction.wallet.main_account.created_by.username %}
                    Withdraw from {{ person }}{{ wallet }}, for the amount {{ currency_symbol }}{{ price }}
                {% endblocktrans %}
                
            {% elif transaction.method == "Cash Out" %}
                {% blocktrans with price=transaction.price %}
                    You have cashed out {{ currency_symbol }}{{ price }}
                {% endblocktrans %}

            {% else %}
                {% blocktrans with price=transaction.price second_person=transaction.second_person.created_by.username second_wallet=transaction.second_wallet.main_account.created_by.username %}
                    You have paid {{ second_person }}{{ second_wallet }}, for a total of {{ currency_symbol }}{{ price }}
                {% endblocktrans %}
            {% endif %}
            <br>
            <br>
            {% if transaction.message %}
                {% blocktrans with purpose=transaction.message %}
                    Purpose Of Use : {{ purpose }}
                {% endblocktrans %}
                <br>
                <br>
            {% endif %}
            <small>{{ transaction.date }}</small>
        </p>
        <a href="javascript:history.back()" class="neon-button my-2">Back</a>
    </div>
</div>
{% endblock %}