{% extends "accounts/base.html" %}
{% load i18n %}
{% load l10n %}
{% load mathfilters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mx-auto zarathus-card">
    <div class="card-body">
        <label for="basic-url">Choose How Many Transaction to See Per Page (default is 10)</label>
        <div class="m-2 mx-auto">
            <form method="POST" class="form-inline">
                {% csrf_token %}
                    {{ form.pag_num|as_crispy_field  }}
                    <button type="submit" class="btn btn-outline-success ml-sm-2 mb-sm-4 ml-xs-0 mb-xs-0">Paginate</button>
            </form>
        </div>
    </div>
</div>
<br>

{% for each in page_obj %}
    <div class="list-group mx-auto">
        <a href="{% url 'accounts:history-detail' pk=user.pk tran_id=each.id %}" class="list-group-item list-group-item-action flex-column align-items-start text-white">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ each.date|date:'N d, Y' }}</h5>
            </div>
            <p class="mb-1">
                {% if each.method == "Payment" %}
                    <i class="bi bi-cart4 float-none" style="font-size: 1.5rem;"></i>
                    <font class="float-none" style="margin-left: 1rem;">
                        {% blocktrans with person=each.person.created_by.username|capfirst second_person=each.second_person.created_by.username|capfirst %}
                            Payment from {{ person }} to {{ second_person }}
                        {% endblocktrans %}
                    </font>
                {% elif each.method == "Transfer" %}
                    <i class="bi bi-send-check float-none" style="font-size: 1.5rem;"></i>
                    <font class="float-none" style="margin-left: 1rem;">
                        {% blocktrans with person=each.person.created_by.username|capfirst second_person=each.second_person.created_by.username|capfirst %}
                            Transfer from {{ person }} to {{ second_person }}
                        {% endblocktrans %}
                    </font>
                {% elif each.method == "Deposit" %}
                    <i class="bi bi-download float-none" style="font-size: 1.5rem;"></i>
                    <font class="float-none" style="margin-left: 1rem;">
                        {% blocktrans with person=each.person.created_by.username|capfirst %}
                            Deposit to {{ person }}
                        {% endblocktrans %}
                    </font>
                {% elif each.method == "Withdraw" %}
                    <i class="bi bi-upload float-none" style="font-size: 1.5rem;"></i>
                    <font class="float-none" style="margin-left: 1rem;">
                        {% blocktrans with person=each.person.created_by.username|capfirst %}
                            Withdraw from {{ person }}
                        {% endblocktrans %}
                    </font>
                {% elif each.method == "Cash Out" %}
                    <i class="fas fa-hand-holding-usd" style="font-size: 1.5rem; padding: 5px 0 5px 5px;"></i>
                    <font class="float-none">
                        {% blocktrans with person=each.person.created_by.username|capfirst %}
                            Cash Out for {{ person }}
                        {% endblocktrans %}
                    </font>
                {% endif %}

                {% if each.second_person.created_by.username == user.get_username or each.method == "Deposit" or each.method == "Cash Out" %}
                    <font class="float-right" style="color: rgb(0, 255, 0); font-size: large;">
                        {% if LANGUAGE_CODE == "de" %}
                            +€{{ each.price|floatformat:1 }}
                        {% else %}
                            +${{ each.price }}
                        {% endif %}
                    </font>
                {% else %}
                    <font class="float-right" style="color: rgb(63, 0, 0); font-size: large;">
                        {% if LANGUAGE_CODE == "de" %}
                            -€{{ each.price|floatformat:1 }}
                        {% else %}
                            -${{ each.price }}
                        {% endif %}
                    </font>
                {% endif %}
            </p>
            <small style="color: rgba(255, 255, 255, 0.7);">{{ each.date|date:'l \a\t g:iA' }} • {{ each.method }}</small>
        </a>
    </div>
    <br>
{% endfor %}

<!-- Page pagination -->
{% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            <li class="page-item disabled"><a href="#" class="page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </a></li>

            <!-- This is for 1-n button -->
            <!-- {% for num in page_obj.paginator.page_range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %} -->

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="text-center">
        <a class="btn btn-secondary" href="{% url 'accounts:home' pk=user.pk %}">Home Page</a>
    </div>
{% endif %}
<!-- Up button stuff -->
<button class="btn btn-secondary" onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-arrow-bar-up"></i></button>
<script src="{% static 'accounts/js/history.js' %}"></script>
<!-- Up button stuff -->

{% endblock %}
