{% extends "accounts/base.html" %}
{% load i18n %}
{% block content %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <h3 class="fw-normal text-center">{% trans "Transaction Details" %}</h3>
        <hr>
        <p style="font-size: large;">
            {% if context.method == "Transfer" %}
                {% if context.person.created_by.username != user.username %}
                    {% blocktrans with price=context.price person=context.person.created_by.username %}
                        ${{ price }} has been transfered to you, by {{ person }}
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with price=context.price second_person=context.second_person.created_by.username %}
                        You have transfered ${{ price }} to {{ second_person }}
                    {% endblocktrans %}
                {% endif %}
            {% elif context.method == "Deposit" %}
                {% blocktrans with price=context.price person=context.person.created_by.username %}
                    Deposit to {{ person }}, for the amount ${{ price }}
                {% endblocktrans %}
            {% elif context.method == "Withdraw" %}
                {% blocktrans with price=context.price person=context.person.created_by.username %}
                    Withdraw from {{ person }}, for the amount ${{ price }}
                {% endblocktrans %}
            {% elif context.method == "Cash Out" %}
                {% blocktrans with price=context.price %}
                    You have cashed out ${{ price }}
                {% endblocktrans %}
            {% else %}
                {% blocktrans with price=context.price second_person=context.second_person.created_by.username %}
                    You have paid {{ second_person }}, for a total of ${{ price }}
                {% endblocktrans %}
            {% endif %}
            <br>
            <br>
            {% if context.purpose_of_use != "None" %}
                {% blocktrans with purpose=context.purpose_of_use %}
                    Purpose Of Use : {{ purpose }}
                {% endblocktrans %}
                <br>
                <br>
            {% endif %}
            <small>{{ context.date }}</small>
        </p>
    </div>
</div>
{% endblock %}