{% extends "accounts/base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block content %}
<!---------- First Part ---------->
<div class="d-sm-flex">
    <div class="py-2">
        <h3 class="text-capitalize">{% trans "Welcome, " %} {{ user.username }} !</h3>
    </div>
    <div class="py-2 ms-auto">
        <div class="d-flex">
            <h3>
                {% trans "Bonus" %}: {{ currency }}{{ object.bonus }}
            </h3>
            {% blocktrans asvar the_title with currency=currency bonus=object.bonus %}
                The {{currency}}{{bonus}} bonus is a gift from us to every new user. It has no expiration date!
                Every time you transfer the accumulated interest to your balance,
                an equal amount will be taken out of your bonus.
            {% endblocktrans %}
            <a href="#" class="fas fa-question-circle p-2 red-tooltip"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ the_title }}"></a>
        </div>
    </div>
</div>

<!---------- Second Part ---------->
<div class="d-md-flex bd-highlight">
    <!---------- ballance and yellow card ---------->
    <div class="bd-highlight">
        <!-- top part -->
        <div class="d-flex mb-4">
            <div class="pe-3">
                <i class="bi-cash-stack"></i>
            </div>
            <div class="align-self-center">
                <h1>{% trans "Ballance" %}</h1>
            </div>
            <div class="align-self-center ms-3">
                <a class="neon-button" href="#" role="button" onmouseover="mouseOver()" onmouseout="mouseOut()"
                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Wallets" %} <i class="fas fa-caret-down"></i>
                </a>
            
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'wallets:wallet-search' pk=object.pk %}">{% trans "Make a New Wallet" %}</a></li>
                    {% if wallets_count > 0 %}
                        <li><hr class="dropdown-divider"></li>
                        {% for wallet in wallets %}
                            <li>
                                <form method="POST">
                                    {% csrf_token %}
                                    <a href="?wallet-name={{ wallet.0.1 }}" name="wallet-post" value="{{ wallet.0.1 }}" class="dropdown-item">
                                        <span class="flag-icon flag-icon-{{ wallet.0.0|lower }} me-2"></span>{{wallet.0.1}} ({{wallet.0.2}})
                                    </a>
                                </form>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- bottom part (card) -->
        <div class="card text-white home-card">
            <div class="card-body">
                <h5 class="fw-normal text-capitalize">
                    {% if is_bus == True %}
                        {% blocktrans with username=user.username %}
                            {{ username }}'s Business Account
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans with username=user.username %}
                            {{ username }}'s Personal Account
                        {% endblocktrans %}
                    {% endif %}
                </h5>
                <hr class="zarathus-hr">
                <h1 class="fw-normal">
                    {{ wallet_symbol }}{{ wallet_balance }}
                </h1>
                {% trans "Current Balance" %} ({{ wallet_currency }})
            </div>
        </div>
    </div>
    <!----------------- Interest -------------------->
    <div class="bd-highlight ms-auto">
        <!-- top part -->
        <div class="d-flex pb-2">
            <div class="pe-3">
                <i class="bi bi-piggy-bank"></i>
            </div>
            <div class="align-self-center">
                <h1>{% trans "Interest" %}</h1>
            </div>
        </div>
        <!-- bottom part (counter) -->
        <div class="d-flex">
            <div class="d-flex counter-interest">
                <div>{{ currency }}</div>
                <div id="counter"></div>
            </div>
        </div>
        <br>
        <a href="{% url 'accounts:cash-out' object.pk %}" class="neon-button ml-2">{% trans "Cash Out" %}</a>
    </div>
</div>
<br>

<!---------- 5 buttons ---------->
<div class="row text-center">
    <a href="{% url 'accounts:add-money' pk=object.pk %}" class="col-md zoom">
        <i class="bi bi-download buttons-5"></i>
        <h3>{% trans "Deposit" %}</h3>
    </a>
    <a href="{% url 'accounts:transfer-search' pk=object.pk %}" class="col-md zoom" >
        <i class="bi bi-send-check buttons-5"></i>
        <h3>{% trans "Send Money" %}</h3>
    </a>
    <a href="{% url 'accounts:take-money' pk=object.pk %}" class="col-md zoom">
        <i class="bi bi-upload buttons-5"></i>
        <h3>{% trans "Withdraw" %}</h3>
    </a>
    <a href="{% url 'wallets:currency-exchange' pk=object.pk %}" class="col-md zoom">
        <i class="bi bi-currency-exchange buttons-5"></i>
        <h3>{% trans "Currency Exchange" %}</h3>
    </a>
    <a href="{% url 'accounts:history' pk=object.pk %}" class="col-md zoom">
        <i class="bi bi-book-half buttons-5"></i>
        <h3>{% trans "Transaction History" %}</h3>
    </a>
</div>

{{ interest_list.interest|unlocalize|json_script:"total_bal" }}
{{ interest_list.interest_rate|unlocalize|json_script:"interest_rate" }}

<script src="{% static 'accounts/js/interest_counter.js' %}"></script>

<script async>
    const link = document.querySelector("#dropdownMenuLink");
    const i = document.querySelector("#dropdownMenuLink > i")
    function mouseOver(){
        i.style.color = "black"
    }
    function mouseOut(){
        i.style.color = "#f8b119c7"
    }
</script>

{% endblock %}
