{% extends "accounts/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<!-- Starting Page Animation -->
<div class="test-animation" id="ani"></div>


<h3 class="text-capitalize text-center">{% trans "we pay you 2% interest on your balance !" %}</h5>
<!---------- 2 buttons ---------->
<div class="row text-center">
    <a href="{% url 'users:register' %}" class="zoom-login">
        <i class="fas fa-user-plus buttons-2 p-2"></i>
        <h1 style="font-size: 2.5rem;">{% trans "Sign Up" %}</h1>
    </a>
    <a href="{% url 'users:login-view' %}" class="zoom-login">
        <i class="fas fa-sign-in-alt buttons-2 p-2"></i>
        <h1 style="font-size: 2.5rem;">{% trans "Login" %}</h1>
    </a>
</div>

<!-- animation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" 
integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'accounts/js/landing_page.js' %}"></script>

{% endblock %}