{% extends "accounts/base.html" %}
{% load i18n %}
{% block content %}
    <h4>{{ interest }}</h4>
    <h4>the good old days lmao.. it's 2:07 2021-03-27 and i just 
        finishded my celery thing... how u doing now lmaoo this is fun !!!</h4>
    <h3>hey it's 2021-12-19 2:33am and i just wanted to redo this idk why now but hey it is what it is.
        just finished the history tab, and im pretty damn tired. hey future me, u got into university or what ?
        man i wish i could travel in time. maybe i don't idk cuz it sounds insane and kinda scary. this is getting cringe
        so imma wrap it up quick. hope everything is well and hope ur happy. never lose hope :)
    </h3>
{% endblock %}