{% extends "accounts/base.html" %}
{% load i18n %}
{% block content %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <h3 class="fw-normal text-center">{% trans "Your Referral Code" %}</h3>
        <hr>
        <p class="card-text">
            {% trans "Share this code with your friends when they are registering, and you will get $1 added to your balance as well as another extra $200 to your bonus." %}
        </p>
        <div class="d-flex">
            <h5 class="fw-bold mt-2">
                {% trans "Referral Code :" %}
                {{ referral_code }}
            </h5>
            <button class="btn btn-info mx-2" id="Copy">{% trans "Copy" %}</button>
        </div>
        <hr>
        <a class="neon-button my-2" href="{% url 'accounts:home' user.account.pk %}">{% trans "Home" %}</a>
    </div>
</div>

<script>
    function Clipboard_CopyTo(value) {
            var tempInput = document.createElement("input");
            tempInput.value = value;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
        }
        var tooltip = document.getElementById("Copy");
        tooltip.onclick = function () {
            tooltip.setAttribute("style", "color: white;");
            tooltip.innerHTML = "Copied!"
            Clipboard_CopyTo('{{ referral_code }} ');
        }
</script>
{% endblock %}