{% extends "accounts/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/toggle_button.css' %}">

<!-- spinner -->
<div id="spinnner"></div>

<div class="card text-white zarathus-card mx-auto">
    <div class="card-body" style="padding: 1.5rem;">
        <form method="POST" id="form-swal">
            {% csrf_token %}
            <h3 class="fw-normal text-center">{% trans "Settings" %}</h3>
            <hr>

            <h5 class="fw-normal">Defaults</h5>
            <hr style="width: 25%;">

            <a class="neon-button my-1" href="{% url 'accounts:settings-country' pk=user.pk %}">
                {% trans "Change Your Default Country" %}
            </a>
            <br>
            <a class="neon-button mt-3" href="#">
                {% trans "Change Your Default Language" %}
            </a>
            <br>
            <!-- <a class="neon-button my-3" href="#">
                {% trans "Change Your Username or Password" %}
            </a>
            <br>
            <a class="neon-button my-3" href="#">
                {% trans "Transfer To a Business Account" %}
            </a> -->
            <br>

            <h5 class="fw-normal">Friend Zone</h5>
            <hr style="width: 25%;">

            <a class="neon-button mb-3" href="{% url 'accounts:referral-code' user.pk %}">
                {% trans "Invite a Friend" %}
            </a>
            <br>

            <h5 class="fw-normal">Change Theme</h5>
            <hr style="width: 25%;">

            <!-- <div class="form-check form-switch my-3">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Dark/white theme</label>
            </div>
            <div class="d-flex">
                <label>Dark </label>
                <label class="toggle-control mx-2">
                    <input type="checkbox" checked="checked">
                    <span class="control"></span>
                </label>
            </div> -->
            
            <main>
                <input class="l" type="checkbox" id="theme-btn">
            </main>
            <br>

            <h5 class="fw-normal">Account</h5>
            <hr style="width: 25%;">

            <a class="neon-button mb-3" href="#">
                {% trans "Change Username" %}
            </a>
            <br>
            <a class="neon-button mb-3" href="#">
                {% trans "Change Phone Number" %}
            </a>
            <br>
            <a class="neon-button mb-3" href="#">
                {% trans "Change Password" %}
            </a>
            <br>
            <a class="neon-button mb-3" href="#">
                {% trans "Transfer To a Business Account" %}
            </a>
            <br>
            <a class="neon-button mb-3" href="#">
                {% trans "Delete My Account" %}
            </a>
            <br>

        </form>
    </div>
</div>

<script>
    var currency = '{{ user_currency_symbol }}'
    const theme_btn = document.getElementById("theme-btn")
    theme_btn.addEventListener ('click', (e)=>{
        console.log("hi")
    })
</script>

<script src="{% static 'accounts/js/withdraw.js' %}"></script>

{% endblock content %}