{% extends "accounts/base.html" %}
{% load i18n %}
{% block content %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <h3 class="fw-normal text-center">{% trans "Are you sure ?" %}</h3>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div class="d-flex mb-3 mt-4 justify-content-center">
                <button class="neon-button-green me-4" type="submit" id="Action">{% trans "Save Changes" %}</button>
                <button class="neon-button" type="submit" id="Action">{% trans "Back to Home" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}