{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<!-- spinner -->
<div id="spinnner"></div>

<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <form method="POST" id="form-swal">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="font-weight-normal text-center">{% trans "Withdraw Money From Your Account" %}</h3>
                <hr>
                <h5 class="font-weight-normal">
                    {% blocktrans %}
                    In order to withdraw money, please enter the value you want to 
                    withdraw blelow <br> and we will transfer the amount you requested
                    to your bank account, <span style="color: #f8b119;">within 1 bussiness day.</span>
                    {% endblocktrans %}
                </h5> 
                <br>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="neon-button" type="submit" id="Action">{% trans "Withdraw" %}</button>
            </div>
        </form>
    </div>
</div>

<script src="../../static/accounts/js/withdraw.js"></script>

{% endblock content %}