{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy TransferSendForm %}
{% load static %}
{% block content %}
<!-- spinner -->
<div id="spinnner"></div>

<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <form method="POST" id="form-swal" autocomplete="off">
            {% csrf_token %}
            <h3 class="fw-normal text-center">
                {% blocktrans with name=reciever_name %}
                    Send Money to {{ name }}
                {% endblocktrans %}
            </h3>
            <hr>
            {% crispy form %}
            <div id="msgCounter" class="form-text text-white my-2"></div>
            <button class="neon-button my-2" type="submit" name="Transfer" value="Transfer" id="Action">{% trans "Send" %}</button>
        </form>
    </div>
</div>

{{ reciever_name|json_script:"reciever_name" }}
{{ min_currency|json_script:"min_currency" }}
{{ user_currency_symbol|json_script:"user_currency_symbol" }}

<script src="{% static 'accounts/js/transfer.js' %}" defer></script>
{% endblock content %}