{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="card zarathus-card mx-auto">
    <div class="card-body">
        <form method="POST" autocomplete="off" spellcheck="false">
            {% csrf_token %}
            <h3 class="fw-normal text-center">{% trans "Send Money to Others" %}</h3>
            <hr>

            <form id="search-form" autocomplete="off" spellcheck="false">
                {% csrf_token %}
                <div class="form-group form-floating">
                    <input type="text" id="search-input" class="form-control" placeholder="Type">
                    <label for="search-input">Username or Email or Phone Number</label>
                </div>
            </form>
            <div class="list-group shadow bg-body not-visible" style="color: black; position: absolute;" id="results-box"></div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    const pk = '{{ request.user.pk }}'
</script>
<script src="{% static 'accounts/js/transfer_search.js' %}" defer></script>

{% endblock content %}



<!-- {% if found_accounts %}
    <h3 class="fw-normal">{% trans "Available Accounts:" %}</h3>
    <hr>
    {% for found in found_accounts %}
        <div class="form-check my-4">
            <input class="form-check-input" type="radio" name="checkbox" id="flexRadioDefault1" value="{{ found }}">
            <label class="form-check-label" for="flexRadioDefault1">
                {{ found.username }}
            </label>
        </div>
    {% endfor %}
{% endif %} -->
<!-- <button class="neon-button my-2" type="submit">{% trans "Search" %}</button> -->
<!-- <div class="d-flex">
    <input class="form-check-input my-3 me-2 align-self-center fs-4" type="radio" 
    name="checkbox" id="search_here" value="${item['username']}">
    <div class="align-self-center">
        ${item['username']}
    </div>
</div> -->


<!-- <button class="" type="submit" name="search_result" value=""></button> -->
<!-- <div class="form-group form-floating mb-3" style="color: black;">
    <input type="text" id="search_here" class="form-control" placeholder="Type">
    <label for="search_here">Username or Email or Phone Number</label>
</div>
<div class="list-group shadow bg-body rounded" style="color: black; position: absolute;" id="box"></div> -->