{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
        <br>
        <div class="container-fluid form-special">
            <div class="card text-white custom-bg-dark">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <h4 class="font-weight-normal">{% trans "Send money to others" %}</h4>
                            <hr>
                            {{ form|crispy }}
                        </fieldset>
                        {% if found_accounts %}
                            <h4 class="font-weight-normal">{% trans "Available Accounts:" %}</h4>
                            <hr>
                            {% for found in found_accounts %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="checkbox" id="flexRadioDefault1" value="{{ found }}" area-checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        {{ found }}
                                    </label>
                                </div>
                                <br>
                            {% endfor %}
                            <div class="form-group">
                                <button class="btn btn-outline-warning" type="submit">{% trans "Transfer" %}</button>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <button class="btn btn-outline-warning" type="submit">{% trans "Search" %}</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <br>
{% endblock content %}