{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card zarathus-card mx-auto">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="fw-normal text-center">{% trans "Send Money to Others" %}</h3>
                <hr>
                {{ form|crispy }}
                <br>
                {% if found_accounts %}
                    <h3 class="fw-normal">{% trans "Available Accounts:" %}</h3>
                    <hr>
                    {% for found in found_accounts %}
                        <div class="form-check my-4">
                            <input class="form-check-input" type="radio" name="checkbox" id="flexRadioDefault1" value="{{ found }}">
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{ found.username }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </fieldset>
            <button class="neon-button my-2" type="submit">{% trans "Search" %}</button>
        </form>
    </div>
</div>
{% endblock content %}