{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="card zarathus-card mx-auto">
    <div class="card-body">
        <form method="POST" autocomplete="off" spellcheck="false">
            {% csrf_token %}
            <h3 class="fw-normal text-center">{% trans "Send Money to Others" %}</h3>
            <hr class="zarathus-hr">

            <form id="search-form" autocomplete="off" spellcheck="false">
                {% csrf_token %}

                <div class="dropdown form-floating">
                    <!-- INPUT -->
                    <input type="text" id="search-input" class="form-control dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                        placeholder="Country">
                    <label for="search-input">{% trans "Username or Email or Phone Number" %}</label>
                    <!-- LIST -->
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="results-box">
                        <li id="country-list">
                            <a class="dropdown-item disabled" style="text-transform: capitalize; color: black;">
                                <b>{% trans "No accounts were found." %}</b>
                            </a>
                        </li>
                    </ul>
                </div>

            </form>
        </form>
    </div>
</div>

{{ request.user.pk|json_script:"pk" }}
{{ qs_json|json_script:"data" }}

<script src="{% static 'accounts/js/transfer_search.js' %}" defer></script>

{% endblock content %}