{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <div class="container-fluid">
        <div class="card text-white zarathus-card mx-auto">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h3 class="font-weight-normal">{% trans "Send money to others" %}</h3>
                        <hr>
                        {{ form|crispy }} <br>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-warning" type="submit">{% trans "Transfer" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}