.navbar {
    padding: 0.8 rem;
}
.navbar-brand {
    font-family: "Lobster", cursive;
}
.navbar-dark .navbar-nav .nav-link {
    margin-right: 0.5rem;
    font-size: medium;
    text-transform: uppercase;
}
.bg-dark {
    background-color: rgb(2, 28, 54) !important;
}