{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <div class="container-fluid form-special">
        <div class="card text-white custom-bg-dark">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h4 class="font-weight-normal">{% trans "Verify Your IBAN" %}</h4>
                        <hr>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-warning" type="submit">{% trans "Verify" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}