{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <h3 class="fw-normal text-center">{% trans "Log In" %}</h3>
                <hr>
                <div id="div_id_username" class="form-group form-floating mb-3" style="color: black;">
                    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" 
                    maxlength="150" class="textinput textInput form-control" required="" id="id_username" placeholder="username">
                    <label for="id_username" class=" requiredField">Username</label>
                </div>
                <div id="div_id_password" class="form-group form-floating mb-3" style="color: black;"> 
                    <input type="password" name="password" autocomplete="current-password" 
                    class="textinput form-control" required="" id="id_password">
                    <label for="id_password" class="requiredField">Password</label>
                </div>
            </div>
            <button class="neon-button-green my-3" type="submit">{% trans "Log In" %}</button>
        </form>
        <div class="pt-2">
            <small class="text-muted">
                <a style="color: #f8b119c7;" href="{% url 'password_reset' %}">
                    {% trans "Reset Password ?" %}
                </a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}