{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <h3 class="fw-normal text-center">{% trans "Reset Your Password" %}</h3>
            <hr>
            <div id="div_id_email" class="form-group form-floating mb-3" style="color: black;">
                <input type="email" name="email" autocomplete="email" maxlength="254" class="emailinput form-control" 
                required="" id="id_email" placeholder="Email">
                <label for="id_email" class=" requiredField">
                    Email<span class="asteriskField">*</span>
                </label>
            </div>
            <button class="neon-button-green my-3" type="submit">{% trans "Request Password Reset" %}</button>
        </form>
    </div>
</div>
{% endblock content %}