{% extends "accounts/base.html" %}
{% load i18n %}
{% load countries %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <h3 class="fw-normal text-center">{% trans "Why not join now ?!" %}</h3>
            <hr class="zarathus-hr">

            {% crispy form %}
            {{ form.captcha|as_crispy_field }}

            <button class="neon-button-green my-2" type="submit">{% trans "Sign Up" %}</button>
        </form>
        <hr class="zarathus-hr">
        <div class="boarder-top">
            <small class="text-white" style="font-size: 9.5pt;">
                {% trans "Already Have An Acount ?" %} 
                <a class="ml-2" href="{% url 'users:login-view' %}" style="color: #f8b119;">{% trans "Log In" %}</a>
            </small>
        </div>
    </div>
</div>

{{ ext|json_script:"ext" }}
<script src="{% static 'users/js/personal.js' %}"></script>

{% endblock content %}

<!-- 
{% get_countries as countries %}
{% for country in countries %}
<div class="d-flex">
    <img class="m-1" src="/static/flags/{{ country.code|lower }}.gif" alt="" style="width: 25px; height: 15px;">
    <option value="{{ country.code }}">{{ country.name }}</option>
</div>
{% endfor %} -->
