{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy phone_verify_code %}
{% block content %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <h3 class="fw-normal text-center">{% trans "Verify Your Phone Number" %}</h3>
            <hr>
            {% crispy form %}
            <button class="neon-button-green my-2" type="submit">{% trans "Verify" %}</button>
        </form>
    </div>
</div>
{% endblock content %}