{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card text-white zarathus-card">
            <div class="card-body text-center">
                <h3 class="font-weight-normal text-center">Business Sign Up</h3>
                <hr>
                <h5 class="font-weight-normal">{% trans "This is a business account. Sign up now to be able to use our website as a payment for you own shop. Remember, you still get interest on all your capital as well." %}</h5>
                <hr>
                <a class="btn btn-outline-warning" href="{% url 'business' %}">{% trans "Sign Up" %}</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-5 mx-auto">
        <div class="card text-white zarathus-card">
            <div class="card-body text-center">
                <h3 class="font-weight-normal text-center">Personal Sign Up</h3>
                <hr>
                <h5 class="font-weight-normal">{% trans "This is a normal personal account. Sign up now to start making interest on your ballance." %}</h5>
                <hr>
                <a class="btn btn-outline-warning" href="{% url 'personal' %}">{% trans "Sign Up" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}