{% extends "accounts/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if currency_options|length > 1 %}
    <div class="card text-white zarathus-card mx-auto">
        <div class="card-body">
            <h3 class="fw-normal text-center">{% trans "Exchange Currencies" %}</h3>
            <hr class="zarathus-hr">

            <form method="POST" id="form-post">
                {% csrf_token %}
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                        <button style="min-height: 3.65rem;" class="btn btn-secondary dropdown-toggle" type="button" 
                        id="fromDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ currency }} ({{ user_currency_symbol }})
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="fromDropdownMenu" id="dropdown-from-item">
                            {% for item in currency_options %}
                                <li><a class="dropdown-item" href="#">{{ item.0 }} ({{ item.1 }})</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="form-floating" id="parent-div">
                        <input type="text" class="form-control" id="floatingInput" placeholder=" " autocomplete="off">
                        <label for="floatingInput">{% trans "Amount" %}</label>
                    </div>
                    
                    <i class="bi bi-arrow-right p-2" style="font-size: 3rem;"></i>

                    <div class="dropdown">
                        <button style="min-height: 3.65rem;"
                        class="btn btn-secondary dropdown-toggle" type="button" id="toDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">

                        </button>
                        <ul class="dropdown-menu" aria-labelledby="toDropdownMenu" id="dropdown-to-item">
                            
                        </ul>
                    </div>
                </div>

                <button type="submit" class="neon-button my-3" id="Action">{% trans "Next" %}</button>
            </form>

        </div>
    </div>

    <!-- <a href="{% url 'wallets:currency-exchange-confirm' pk=pk from_='CAD' amount=5 to='EUR' %}">submit</a> -->

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    {{ currency_options|json_script:"currency_options" }}
    {{ min_currency|json_script:"min_currency" }}

    <script src="{% static 'wallets/js/currency_ex.js' %}"></script>
{% else %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <h3>{% trans "You do not own any wallets yet ! Would you like to make one ?" %}</h3>
        <hr class="zarathus-hr">
        <a href="{% url 'wallets:wallet-search' pk=pk %}" class="neon-button my-2">{% trans "Make a New Wallet" %}</a>
    </div>
</div>
{% endif %}

{% endblock content %}