{% extends "accounts/base.html" %}
{% load i18n %}
{% block content %}
<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <h3 class="fw-normal text-center">{% trans "Are you sure ?" %}</h3>
        <hr class="zarathus-hr">
        
        <h4>You can choose up to 10 wallets with different currencies.</h4>
        <p>Your currenct wallets are:</p>
        <ul>
            {% for wallet in wallets %}
                <li>{{ wallet.currency }}</li>
            {% endfor %}
        </ul>
        <hr>
        <p>You are about to make the currency "{{ currency }}" as one of your wallets.</p>
        
        <form method="POST">
            {% csrf_token %}
            <div class="d-flex mb-3 mt-4 justify-content-center">
                <button class="neon-button-green me-4" type="submit" id="Action" value="hi">{% trans "Save Changes" %}</button>
                <a href="{% url 'accounts:home' pk=user.pk %}" class="neon-button">{% trans "Back to Home" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}