<div class="card text-white zarathus-card mx-auto">
    <div class="card-body">
        <h3 class="fw-normal text-center">{% trans "Cookie Policy" %}</h3>
        <hr class="zarathus-hr">
        <h5 class="fw-normal">
            {% trans "We use Google Analytics to help us grow our business. We also use cookies to help our users log in faster and to provide our customers with a better web experience. We do not have any advertisments on the website." %}
        </h5>
        <hr class="zarathus-hr">
        {% if user.account %}
            <a class="neon-button" href="{% url 'accounts:home' user.account.pk %}">
                {% trans "Home" %}</a>
        {% endif %}
    </div>
</div>