html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-image: url("../images/backgound-black3.jpg");
  /* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/774/066/small_2x/abstract-green-cube-pattern-on-dark-blue-background-modern-lines-square-mesh-simple-flat-geometric-design-you-can-use-for-cover-poster-banner-web-flyer-landing-page-print-ad-vector.jpg"); */
  background-repeat: repeat;
  color: white;
}
.flag-icon-en {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/flags/4x3/us.svg");
}
a:link,
button:link {
  text-decoration: none;
}
.buttons-4 {
  font-size: 4rem; 
  color: #f8b119;
}
.buttons-2 {
  font-size: 5rem;
}
h3,
h1 {
  color: white;
}
.interest-h1 {
  font-size: 24pt;
}
i {
  color: #f8b119;
}
.list-group {
  max-width: 32rem;
}
.referral-copy {
  margin-left: 0.5rem;
}



/********** navbar **********/
.navbar {
  padding: 0.8 rem;
}
.navbar-brand {
  font-family: "Lobster", cursive;
}
.navbar-dark .navbar-nav .nav-link {
  margin-right: 0.5rem;
  font-size: medium;
  text-transform: uppercase;
}
/* .navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.dropdown-toggle,
.navbar-dark .navbar-nav .dropdown-link,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f8b119;
} */
/********** end **********/

/********** help text **********/
#hint_id_email_verify_code,
#hint_id_phone_verify_code,
#hint_id_new_password1,
#hint_id_username,
#hint_id_phone_ext,
#hint_id_phone_number,
#hint_id_password1,
#hint_id_password2,
#hint_id_iban,
#hint_id_referral_code,
#hint_id_iban_verify_code,
#hint_id_pag_num {
  color: white !important;
}
/********** end **********/

/********** Phone number **********/
#id_phone_ext {
  width: 110px;
  padding-left: 1rem;
  padding-top: 0.2rem;
}
#id_phone_number {
  width: 355px;
}
#div_id_phone_number {
  margin-top: 2rem;
}
/********** end **********/

/********** Tooltip **********/    
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: rgb(133, 99, 26) !important;
  margin-left: .5rem;
}
.tooltip-inner {
  background-color: rgb(248, 177, 25) !important;
  color: rgb(0, 0, 0);
}
.tooltip.show {
  opacity: 1;
}
.tooltip.top .tooltip-arrow {
  border-top-color: rgb(248, 177, 25) !important;
}

.tooltip.right .tooltip-arrow {
  border-right-color: rgb(248, 177, 25) !important;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgb(248, 177, 25) !important;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #f8b119c7;
}
/********** end **********/

/********** Colors and Fonts *********/
.bi-piggy-bank,
.bi-cash-stack {
  font-size: 3rem;
}
.bg-warning {
  background-color: #f8b119c7 !important;
}
hr {
  background-color: #f8b119c7 !important;
}
.fa-question-circle {
  color: #f8b119c7 !important;
}
/********* End *********/

/********** ALL cards and navbar colors **********/
.bg-dark { /* NAVBAR */
  background-color: rgba(255, 255, 255, 0.26) !important;
}
.zarathus-card { /* ALL CARDS */
  background-color: rgba(255, 255, 255, 0.26) !important;
  max-width: 32rem;
}
.home-card {
  background-color: rgba(255, 255, 255, 0.26) !important;
  width: 28rem;
}
.list-group-item-action { /* HISTORY CARDS */
  background-color: rgba(255, 255, 255, 0.26) !important;
}
/********** End **********/

/********* Hover/zoom buttons in home.html *********/
.zoom {
  transition: transform .2s;
  max-width: 220px;
  padding: 10px 0px 20px 0px;
  margin: 0 auto;
}
.zoom-login {
  transition: transform .2s;
  width: 250px;
  padding: 10px 0px 20px 0px;
  margin: 0 auto;
}
.zoom-login:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
}
.zoom:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
}
/********* End *********/

/********* Neon Button *********/
:root {
  --clr-neon: #f8b119c7;
  --clr-neon-red: #f81919c7;
  --clr-neon-green: #12bb7ac7;
}

.neon-button-green {
  font-size: 1rem;
  background-color: transparent;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon-green);
  border: var(--clr-neon-green) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon-green), 0 0 0.5em 0 var(--clr-neon-green);

  position: relative;
}
.neon-button-red {
  font-size: 1rem;
  background-color: transparent;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon-red);
  border: var(--clr-neon-red) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon-red), 0 0 0.5em 0 var(--clr-neon-red);

  position: relative;
}
.neon-button,
button.swal2-confirm.swal2-styled,
button.swal2-cancel.swal2-styled,
.swal2-popup .swal2-styled:focus {
  font-size: 1rem;
  background-color: transparent;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon) !important;

  position: relative;
}

.neon-button::after,
button.swal2-cancel.swal2-styled::after,
button.swal2-confirm.swal2-styled::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.25em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}
.neon-button-red::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.25em var(--clr-neon-red);
  opacity: 0;
  background-color: var(--clr-neon-red);
  z-index: -1;
  transition: opacity 100ms linear;
}
.neon-button-green::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.25em var(--clr-neon-green);
  opacity: 0;
  background-color: var(--clr-neon-green);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button-red:hover,
button.swal2-cancel.swal2-styled:hover,
.neon-button-green:hover,
button.swal2-confirm.swal2-styled:hover {
  color: black;
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button-red::before,
button.swal2-cancel.swal2-styled::before,
.neon-button-green::before,
button.swal2-confirm.swal2-styled::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button-red:hover::after,
button.swal2-cancel.swal2-styled:hover::after,
.neon-button-green:hover::after,
button.swal2-confirm.swal2-styled:hover::after {
  opacity: 1;
}
/************ end *********/

/************ Pagination ************/

.pagination > li > a
{
    background-color: #6c757d;
    color: #fff;
    border-color: rgb(185, 185, 185);
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 21px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}

/************ end ************/

/* XS */
@media (max-width: 768px) {
  .msg-alert {
    margin: 1rem auto;
    margin-bottom: 0;
  }
  .counter-interest {
    font-size: 24pt;
  }
  .home-card {
    background-color: rgba(255, 255, 255, 0.26) !important;
    max-width: 100%;
  }
}
/* XS */
@media (max-width: 640px) {
  #id_phone_number {
    width: 100%;
  }
  .referral-copy {
    margin-top: 1rem;
    margin-left: 0;
  }
  .counter-interest {
    font-size: 18pt;
  }
}
/* Mobile */
@media (max-width: 420px) {
  #id_phone_ext {
    width: 90px;
    padding: 0rem 0rem 0.1rem 0rem;
  }
  #id_phone_number {
    width: 150px;
  }
  .msg-alert {
    margin: 1rem auto;
    margin-bottom: 0;
  }
  .referral-copy {
    position: relative;
    left: 1rem;
    bottom: 1.5rem;
  }
  .counter-interest {
    font-size: 16pt;
  }
}
/* SM */
@media (min-width: 768px) {
  .msg-alert {
    margin: 1rem auto;
    margin-bottom: 0;
  }
  .counter-interest {
    font-size: 22pt;
  }
}
/* MD/SM */
@media (min-width: 836px) {
  .msg-alert {
    width: 800px;
    margin: 1rem auto;
    margin-bottom: 0;
  }
  .counter-interest {
    font-size: 22pt;
  }
}
/* MD */
@media (min-width: 992px) {
  .msg-alert {
    width: 800px;
    margin: 1rem auto;
    margin-bottom: 0;
  }
  .counter-interest {
    font-size: 22pt;
  }
}
/* LG */
@media (min-width: 1200px) {
  /* alert */
  .msg-alert {
    width: 800px;
    margin: 1rem auto;
    margin-bottom: 0;
  }
}
/* XL */
@media (min-width: 1360px) {
  .msg-alert {
    width: 800px;
    margin: 1rem auto;
    margin-bottom: 0;
  }
  .counter-interest {
    font-size: 30pt;
  }
}

/* bootstrap spinner */
/*
.spinner-inner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spinner-border {
  width: 6rem;
  height: 6rem;
} */


.spinner {
  background: rgba(0, 0, 0, .4);
  overflow-y: auto;
  display: grid;
  position: absolute;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.spinner-class {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#container {
  width: 200px;
  height: 200px;
}
@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}
#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
  fill:transparent;
  stroke:#f8b119c7;
  stroke-width: 7px;
  stroke-linecap: round;
  filter:url(#shadow);
}
